#opinions{
  padding: 32px;
  background-color: var(--gray);
  height: 256px;
  display: flex;
  flex-wrap: nowrap;
  gap: 32px;
  overflow-x: auto;
  scroll-behavior: smooth;
  align-items: center;
  
}

.profile{
    width: 64px;
    height: 64px;
    border-radius: 48px;
    object-fit: cover;
    cursor: pointer;
}

.opinion-card{
     flex: 0 0 calc(50% - 32px); 
    border-radius: 48px;
    background-color: var(--white);
    padding: 32px;
    box-shadow:0 4px 8px rgba(0,0,0,0.15);
    margin: 0 25px;
}